%button-reset 
  border: none
  margin: 0
  padding: 0
  width: auto
  overflow: visible

  background: transparent

  /* inherit font & color from ancestor */
  color: inherit
  font: inherit

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit
  -moz-osx-font-smoothing: inherit

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none

* 
  box-sizing: border-box

body
  margin: 0 

p
  padding: 0
  margin: 0

.main
  height: 100vh
  padding-top: 1.3vh
  background: linear-gradient(100.06deg, #1BAAE2 -23.86%, #8BE8F7 36%, #00D9F4 111.57%)
  position: relative

.main__images
  max-width: 475px
  width: 100%
  margin: auto
  display: flex
  // border: 1px solid purple
  justify-content: space-around
  margin-bottom: 1vh

.main__image_hrusha
  width: 47.2%
  max-width: 300px

.main__image_karkusha
  max-width: 300px
  width: 50.3%
  width: 50%

.main__text
  width: 90vw
  margin: auto
  color: #307F9E
  // margin: auto
  text-align: center
  margin-bottom: 35px

.main__text_description
  font-size: 1.2rem

.main__text_title
  font-size: 1rem

.main__button
  @extend %button-reset
  margin: auto
  display: block
  background: linear-gradient(180deg, #FAD781 0%, #EFC253 100%)
  box-shadow: 0px 4px 30px #FFFFFF
  border-radius: 30px
  padding: 1.2rem 0
  text-align: center
  max-width: 330px
  width: 80%
  // min-height: 20%
  font-family: inherit
  color: #307F9E
  position: relative
  margin-bottom: 10px

  &:hover
    box-shadow: 0px 4px 30px #1BAAE2

  &:focus
    outline: 0

.main__button
  span
    text-align: center
    font-size: 1.2rem

.main__button
  svg
    vertical-align: middle
    width: 10%
    margin-left: 10%

.whois
  position: absolute
  bottom: 3vh
  // left: 50%
  width: 100vw
  font-family: inherit
  color: #307F9E
  // margin: auto
  text-align: center

  a
    color: #307F9E